:root {
    --side-bar-color: #1892d3;
    --side-bar-font: white;
    --container-color: #e1e8f0;
    --article-left-border: #efb527;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 0.18fr 1fr;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* Side bar */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.side-bar-container {
    background-color: var(--side-bar-color);
    color: var(--side-bar-font);
    padding-left: 2.5vw;
    height: 100vh;
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.7fr;
}

.side-bar:first-child {
    padding-top: 25px;
    font-size: 28px;
}

.side-bar ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

#first-li {
    padding-top: 10px;
}

#first-img {
    height: 45px;
}

.side-bar ul li:nth-child(2) {
    cursor: pointer;
}

.side-bar img {
    padding-top: 8px;
    height: 30px;
    cursor: pointer;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* Main body */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

main {
    display: grid;
    grid-template-rows: 0.25fr 0.01fr 1fr;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* Header */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

header {
    background-color: #ffffff;
    padding-top: 3vh;
    padding-left: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search-field {
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    align-items: center;
}

#search-icon {
    padding-top: 5px;
    height: 3vh;
    cursor: pointer;
}

#search-bar {
    width: 35vw;
    height: 3.5vh;
    border-radius: 45px;
    border: none;
    background-color: var(--container-color);
    padding-left: 15px;
}

.profile-field {
    margin-left: 10vw;
    align-self: center;
}

.profile-field ul {
    list-style-type: none;
    margin-left: 12vw;
    font-size: 25px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
}

#profile-bell {
    cursor: pointer;
}

#profile-name {
    cursor: pointer;
    padding-top: 5px;
}

#profile-icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.welcome-field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#profile-icon-img {
    width: 75px;
    height: 75px;
}

.welcome .greeting {
    font-weight:bold;
    padding-bottom: 10px;
    color: black;
}

.welcome .name {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

button {
    cursor: pointer;
}

.header-buttons {
    margin-left: 6vw;
    align-self: center;
}

.header-buttons ul {
    list-style-type: none;
    margin-left: 6vw;
    font-size: 25px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-buttons button {
    background-color: var(--side-bar-color);
    color: var(--side-bar-font);
    width: 6vw;
    height: 3.5vh;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 30px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/* Main container */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.top-row {
    background-color: var(--container-color);
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 336px;
}
.container {
    background-color: var(--container-color);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.container-left {
    padding-left: 30px;
    padding-right: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px
}

.article {
    background-color: var(--side-bar-font);
    border-left: 10px solid;
    border-left-color: var(--article-left-border);
    box-shadow: 1px 3px gray;
    border-radius: 11px;
    padding: 3vh 3vw 0 1.5vw;
    margin: 0 40px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article h4 {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.container-left ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    list-style-type: none;
}

.container-right {
    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr;
    justify-self: center;
    row-gap: 20px;
    margin-right: 100px;
}

.announcement {
    background-color: var(--side-bar-font);
    box-shadow: 1px 3px gray;
    border-radius: 11px;
    padding: 2vh 1.5vw 2vh 1.5vw;
}

.announcement li {
    font-weight: bold;
    padding-bottom: 5px;
    cursor: pointer;
}

.announcement p {
    padding-bottom: 10px;
}

.container-right ul {
    list-style-type: none;
}

.trending {
    background-color: var(--side-bar-font);
    box-shadow: 1px 3px gray;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 25px;
    font-weight: bold;
    padding-left: 30px;
}

.trending ul {
    cursor: pointer;
}

#profile-icon-2 {
    height: 50px;
}

.profile-details {
    font-size: 15px;
}

.trending ul {
    display: flex;
    gap: 15px;
    width: 200px;
}

p {
    color: #626262;
}